<div class="content-container">
    <section id="home"></section>
    <div class="faq-bg">
      <div class="row">
        <div class="col-md-6">
          <div style="color: #FFF">
                <h3>What the heck is a QR code???</h3>
                <div>
                  <p>A qr code is similar to a bar code with squares that can be scanned on a cell phone or barcode scanner. It makes any information easily available at a physical location.</p>
                </div>
                <h3>Why animate codes?</h3>
                <div>
                  <p>
          A static code is typically misunderstood or ignored by end users. This can result in a loss of sales, clicks, transactions, and market awareness for businesses who have adopted QR Codes.      </div>
                <h3>Can you post more demonstrations of your animations?</h3>
                <div>
                  <p>We expect to publish a much broader catalog of available animations to choose from by spring of 2016. </p>
                </div>

            <h3>How will the animation affect the scannability of the code?</h3>
                <div>
                  <p><small>The QR code will still be quite scannable even with the animation. We custom tailor our animations to be brief and with multiple rest periods which are immediately scannable by most all cellphone barcode apps. Some clients insist on longer animations and make the concession that their animated QR Code may have brief periods of non-scannability, but this is only done when requested, and still results in only a few second delay at most. </small>  </p>
                </div>

                <h3>Why would anyone want an animated QR code?</h3>
                <div>
                  This service is for providing animations to vendors, who then display these images to customers already using QR codes or in public spaces these can be displayed elegantly to entice  customers to quickly scan a QR code to share specific information about a product.
                </div>
           <h3>How do you create these animations?</h3>
                <div>
                  <p>With hard work and attention to detail. Highly experienced animators work with our highly skilled software engineers.</p>
                </div>
                <h3>Is this an app or a web site?</h3>
                <div>
                  <p>This is a service that can be run on a web site using our retail Coderunner interface, or directly using our API (application program interface) for private and Enterprise business use.</p>
                </div>

                 <h3>Can I sign up to become a distributer of ACME Codes?</h3>
                <div>
                  <p>You can send an email to sales@acme.codes and we will get back to you as soon as possible! </p>
                </div>

                <h2>Can I sign up for latest preview releases?</h2>
                <div>
                  <p>You can sign up to be on our mailing list or for access to early releases when we have them available, by sending an email request to us:  willbilton@acme.codes<br>
                </div>
              </div>
        </div>
        <div class="col-md-6">
          <iframe src="modules/core/client/wow/index.htm" width="330" height="330" frameBorder="0" scrolling="no" allowtransparency="true"></iframe>
        </div>
      </div>
    </div>
</div>
