<div class="row toppage" data-ng-controller="HeaderController">
	<div class="col-xs-12">
		<span class="company-title">
			Animated Codes Made Easy LLC
		</span>
		<span id="acme-codes-title"><a style="cursor: pointer" ng-click="toggleNavbar($event,team)" data-href="/#!/" class="brand">
			ACME.CODES</a>
		</span>
    </div>
</div>
<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button id="navbar-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="myNav">
        <ul class="nav navbar-nav navbar-right">
            <li><a style="cursor: pointer" ng-click="toggleNavbar($event,team)" data-href="/home">HOME</a>
            </li>
            <li><a style="cursor: pointer" ng-click="toggleNavbar($event,team)" data-href="/home#aboutus">ABOUT US</a>
            </li>
            <li><a style="cursor: pointer" ng-click="toggleNavbar($event,team)" data-href="/home#sitemap">SITE MAP</a>
            </li>
            <li><a style="cursor: pointer" ng-click="toggleNavbar($event,team)" data-href="/home#followus">FOLLOW US</a>
            </li>
            <li><a style="cursor: pointer" ng-click="toggleNavbar($event,team)" data-href="/home#contact">CONTACT</a>
            </li>
	    <li><a style="cursor: pointer" ng-click="toggleNavbar($event,team)" data-href="/faq">FAQ</a>
            </li>
            <li><a href="https://api.acme.codes/" target="_blank">API</a>
            </li>
        </ul>
    </div>
</div>
