<div class="content-container">
    <section id="home"></section>
    <div class="section-one">
        <iframe src="modules/core/client/wow/index.htm" width="330" height="330" frameBorder="0" scrolling="no" allowtransparency="true"></iframe>
        <br>
        <a id="dive-in" href="/" class="btn btn-primary btn-xl page-scroll">Dive in!</a>
    </div>
    <div class="section-two">
        <section id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We let you animate your QR codes.<br><br></h2>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-left">
                    <p>ACME (Animated Codes Made Easy LLC) enables you to create high quality animations of your QR codes. You can create animated QR codes with ACME’s online QR code generator, or you can work directly with ACME to create animated codes tailored to your exact specifications. ACME is a catalyst for reshaping the unattractive static QR code into an enticing alternative, embedded with your company’s branding, logo, or campaign.<br>
                    <br>
                    <b><i>Animated</i></b> QR codes fully utilize your electronic signage capital investment with eye catching ‘call to action’ scan targets for people.<br><br>
                    Create a cool animated QR code in under 5 minutes!<br><br>
                    Traditional QR codes are a portal from any real place to any digital place. The digital place can provide:<br>
                    - Practical information to the participant (helpful URLS to locations, ticketing, surveys)<br>
                    - Usage statistics (such as times and places scanned) to the provider<br>
                    - Valuable information to the participant (digital coupons to encourage commerce)<br>
                    - Actual monetary value (Bitcoin, Ethereum)<br>
                    <br>
                    <br> 
                    Animated QR codes can significantly enhance the value of a QR code by:<br>
                    - Catching the attention of the scanning participant<br>
                    - Clearly communicating the value within the code to the scanning participant<br>
                    - Communicating the authenticity of the code to the scanning participant<br>
                    <br>
                    ACME provides two products in the <u><a href="https://en.wikipedia.org/wiki/Software_as_a_service" class="text-faded">'Software as a Service' (SaaS)</a></u> model:<br>
                    - Clients can make codes interactively using ACME's online QR code generator, or<br>
                    - Clients requiring large volume and/or automated code creation can use our 
                        <u><a href="http://acme.readthedocs.io/en/latest/" class="text-faded">documented</a></u>
                        <u><a href="https://api.acme.codes" class="text-faded" >public</a></u>
                        <u><a href="https://en.wikipedia.org/wiki/Web_API" class="text-faded" >Web API</a></u>
                        portal.<br>
                    These products support creation of animated codes from anywhere in the world 24/7/365.<br>
                     </p>
                    <hr class="light">
                    <p class="text-faded">  Follow us on the social media links below for future exciting updates!</p>
                    <!--<a href="coderunner.html" class="btn btn-default btn-xl">Get Started!</a>  -->
                </div>
            </div>
        </div>
    </div>
    <div class="section-three">
        <section id="sitemap"></section>
        <div class="row">
                <section class="no-padding" id="portfolio"></section>
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">At Your Service</h2>
                        <hr class="primary">
                    </div>
            </div>
    </div>
    <div class="section-four">
        <div class="container-fluid" id="faq">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="/#!/faq" class="portfolio-box">
                        <img src="modules/core/client/img/portfolio/1.jpg" class="portfolio-image" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Frequently asked
                                </div>
                                <div class="project-name">
                                    Questions!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="/#!/coderunner" class="portfolio-box" target="_blank">
                        <img src="modules/core/client/img/portfolio/2.jpg" class="portfolio-image" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Try out our
                                </div>
                                <div class="project-name">
                                    Coderunner
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="https://api.acme.codes/price-list" class="portfolio-box">
                        <img src="modules/core/client/img/portfolio/3.jpg" class="portfolio-image" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Our price list is published
                                </div>
                                <div class="project-name">
                                    Here
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="mailto:sales@acme.codes?subject=Interest%20in%20partnering" class="portfolio-box">
                        <img src="modules/core/client/img/portfolio/4.jpg" class="portfolio-image" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Become a partner with ACME
                                </div>
                                <div class="project-name">
                                    sales@acme.codes
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="http://acme.readthedocs.org" class="portfolio-box" target="_blank">
                        <img src="modules/core/client/img/portfolio/5.jpg" class="portfolio-image" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    API
                                </div>
                                <div class="project-name">
                                    acme.readthedocs.org
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="mailto:sales@acme.codes?subject=ACMESupport" class="portfolio-box">
                        <img src="modules/core/client/img/portfolio/6.jpg" class="portfolio-image" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Contact our support team
                                </div>
                                <div class="project-name">
                                    support@acme.codes
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>
    <div class="section-five">
        <section id="followus"></section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-lg-6 text-center">
                        <div class="row">
                          <div class="col-xs-12 col-md-6 text-center">
                              <div class="service-box" id="sociallinks">
                                    <i class="fa fa-4x fa-paper-plane animated text-primary" data-animation="bounceIn"></i>
                                    <h3>ACME Social</h3>
                                    <p class="text-muted"><a href="https://twitter.com/animatedcodes" target="_blank">twitter</a></p>
                                    <p class="text-muted"><a href="https://www.facebook.com/acme.codes/" target="_blank">facebook</a></p>
                                    <p class="text-muted"><a href="https://instagram.com/acme.codes/" target="_blank">instagram</a></p>
                                    <p class="text-muted"><a href="https://www.linkedin.com/company/animated-codes-made-easy-llc?trk=mini-profile" target="_blank">Linkedin</a></p>
                                    <!--                        <p class="text-muted"><a href="" target="_blank">linked in</a></p>
                                    -->                    </div>
                            </div>
                        
                          <div class="col-xs-12 col-md-6 text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-diamond animated text-primary" data-animation="bounceIn"></i>
                                <h3>API available</h3>
                                <p class="text-muted">Acme's animation engine is <a href="https://en.wikipedia.org/wiki/Software_as_a_service">Software-as-a-Service</a> (SaaS): The <a href="https://api.acme.codes">API</a> is public, <a href="http://acme.readthedocs.io/en/latest/">documented</a>, and 
<a href="SslCredentials.html">encrypted</a>. Software developers can experiment with the <a href="http://acme.readthedocs.io/en/latest/">API right now</a>.</p>
                            </div>
                          </div>
                        </div>
                    </div>    
                    <div class="col-xs-12 col-lg-6 text-center">
                        <div class="row">
                          <div class="col-xs-12 col-md-6 text-center" >
                            <div class="service-box">
                                <i class="fa fa-4x fa-newspaper-o animated text-primary" data-animation="bounceIn" data-wow-delay=".2s"></i>
                                <h3>Up to Date</h3>
                                <p class="text-muted">We pride oursleves on reliably integrating with businesses.</p>
                            </div>
                        </div>
                          <div class="col-xs-12 col-md-6  text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-heart animated text-primary" data-animation="bounceIn" data-wow-delay=".3s"></i>
                                <h3>Made with Love</h3>
                                <p class="text-muted">We continuously create new code designs to look fresh. <br>We call these anicodes!</p>
                            </div>
                           </div>
                        </div>
            </div>
         </div>
      </div>
    </div>
                
    <div class="section-six">

        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12">
                        <h2 id="start-leading-way">Start leading the way in your business</h2>

                    <a href="https://www.facebook.com/acme.codes" target= "_blank" class="btn btn-default animated text-break" data-animation='tada' id="updates-facebook">Like us for updates</a>
                </div>
                </div>
        </div>

    </div>
    <div class="section-seven">
        <section id="contact"></section>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <h1 class="section-heading">Let's Get In Touch!</h1>
                <p id="ready-start">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x animated" data-animation="bounceIn"></i>
                <p>001 (323) 844 ACME <br>
                    001 (323) 844 2263</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x animated" data-animation="bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:sales@acme.codes?subject=Interest%20in%20ACME%20Web%20Service" class="email">sales@acme.codes</a></p>
            </div>
        </div>

        <div class="row" id="patents-pending">
            <div class="col-xs-12 text-center">
                <h4 class="section-heading">- Patents Pending -</h4>
                <h4 class="section-heading">Images and Animations &copy {{ year-1 + ' - ' + year}} <br> <br> ANIMATED CODES MADE EASY LLC</h4><br>
	        <img src="modules/core/client/img/logo_small.png" style="margin-top: 20px">

		<br><br>
                <h4 class="section-heading" style="color: #fff">QR Code is a registered trademark of <br> DENSO WAVE INCORPORATED</h4>
		<a style="font-size: 14px" class="email" href="/california-privacy">Your California Privacy Rights</a> - 
	        <a style="font-size: 14px" class="email" href="/privacy-policy">Privacy Policy</a> - 
	        <a style="font-size: 14px" class="email" href="/terms-conditions">Terms And Conditions</a><br><br>

            </div>
        </div>
    </div>
</div>
