    <!-- Page Content -->
<div style="height: 70px;">
</div>
<div class="container" style="width: 80%; margin: 0 auto; color: #AAA">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Terms and Conditions</h1>
                <p class="lead">An Agreement with Animated Codes Made Easy LLC</p>
                <p class="text-left">
                
<p align="center">
    (V1.00 - Effective March 1<sup>st</sup>, 2016)
</p>
                
<div align="left">
<p>
    <br>
    <strong>
        PLEASE READ THE FOLLOWING TERMS AND CONDITIONS RELATING TO YOUR USE OF THIS WEBSITE AND THE PRODUCTS AND SERVICES PROVIDED HEREUNDER CAREFULLY. THIS IS
        A BINDING AGREEMENT.
    </strong>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#agreement"><strong>I. You are Entering Into An Agreement</strong></a>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#NotPartyTrans"><strong>II. COMPANY Not A Party To Your Transactions</strong><strong>, Third Party Content, Links and Services; Partial List of Risks;</strong><strong> No Advice</strong></a>

</p><p>
    <a style="color: #f05f40" href="/#!/terms-conditions#DisclaimersOfLiability"><strong>III. Disclaimers of Liability; No Representations or Warranties</strong></a>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#PurchaseTerms"><strong>IV. Purchase Terms</strong></a>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#Termination"><strong>V. Termination of Subscriptions and Accounts</strong></a>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#Conduct"><strong>VI. Your Conduct Requirements; Your Grant of License</strong></a>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#Copyrights"><strong>VII. Copyrights; Trademark; Ownership of the Website</strong></a>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#Indemnification"><strong>VIII. Indemnification</strong></a>
</p>
<p>
    <strong>IX. </strong><strong>(Intentionally Removed)</strong>
</p>
<p>
    <a style="color: #f05f40" href="/#!/terms-conditions#Copyright"><strong>X. Digital Millennium Copyright Act;</strong><strong> Procedure For Making Claims Of Copyright Infringement</strong></a>

</p><p>
    <a style="color: #f05f40" href="/#!/terms-conditions#Feedback"><strong>XI. Misc.; "Feedback to the COMPANY"; Binding Arbitration; Disputes</strong></a>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>************************************************************************</strong>
</p>
<p>
    <a id="agreement"><br><br><br><br></a>
    <h2 style="color: #f05f40">I. You are Entering Into An Agreement.</h2>
</p>
<p>
    The "Website" refers to all of the websites at acme.codes, acme.ink, acme.names, animatedcodesmadeeasy.com, animatedcodesmadeeasy.org,
    animatedcodesmadeeasy.net, animatedqrcodes.com, animatedqrcodes.org, animatedqrcodes.net, animatedcodes.com, animatedcodes.org, animatedcodes.net, and any
    of their subdomains, or a successor website as indicated by COMPANY. "COMPANY", refers to Animated Codes Made Easy LLC, the owner and operator of this
    Website, or any successor to ownership of the Website.
</p>
<p>"You" and "Your" refer to any user of the Website, including but not limited to all Users.
</p>
<p>
    By:
</p>
<p>
    i) visiting and using this Website;
</p>
<p>
    ii) subscribing to, accepting, or creating a membership, account or profile on the Website or with COMPANY;
</p>
<p>
    iii) selling and purchasing any products, services or property on or through this Website;
</p>
<p>
    iv) utilizing any of the products, services, or other items or property from COMPANY or third parties through this Website, or
</p>
<p>
    v) otherwise indicating that You are agreeing to these Terms and Conditions,
</p>
<p>
    You have agreed to and are deemed to have agreed to these Terms and Conditions (alternately the "Agreement"). If you checked the box "I have read and agree
    to the terms and conditions" then You expressly acknowledged and agreed that You are entering into this <strong>binding legal agreement</strong> with
    COMPANY. However, for avoidance of doubt, you are bound by this Agreement if you undertook any of the actions described in <u>Section I. i) though v)</u>
    above.
</p>
<p>
    COMPANY reserves the right to modify the terms of this Agreement at any time. You should check these Terms and Conditions periodically for changes. In case
    of any material change to these Terms and Conditions, COMPANY will replace the "Terms and Conditions" link on the home page of our sites with a link
    entitled "Updated Terms and Conditions" for no less than 30 days. By using this Website after COMPANY post any changes to these Terms and Conditions, You
    agree to accept those changes, whether or not You have reviewed them. For products and services purchased or utilized from COMPANY or third parties through
    this Website, the version of these Terms and Conditions that were posted at the time of purchase or utilization apply (including but not limited to any
specific terms related to amending these Terms and Conditions). COMPANY'S <a style="color: #f05f40" href="/#!/privacy-policy">Privacy Policy</a>
    is incorporated into this Agreement and shall be considered part of these Terms and Conditions.
</p>
<p>
    Any attempt by You to supplement or modify this Agreement will be considered an attempted material alteration of this Agreement and such attempted material
    alteration is therefore null and void.
</p>
<p>
    <a id="NotPartyTrans"><br><br><br><br></a>
    <h2 style="color: #f05f40">II. COMPANY Is Not A Party To Your Transactions; Third Party Content, Links and Services; Partial List Risks; No Advice</h2>
</p>
<p>
    A. COMPANY Not a Party to Transactions
</p>
<p>
    
    <a>
        This Website provides tools that aids Users to facilitate communications with others and to provide material and information they wish others to
        search, review, find, or otherwise use. COMPANY does not provide this material or information, does not review it for accuracy, and makes no
        representations or warranties regarding it. While users of the products and services of the Company may use such to facilitate transactions, including
        but not limited to the sale and purchase of items, this Website and COMPANY are not parties to such transactions. <br></a></p>B. Third Parties

<p>
    The Website may contain links to websites maintained by third parties ("Third Party Websites"), including service providers. Such links to Third Party
    Websites are provided for Your convenience and reference only. COMPANY does not operate or control and is not responsible for, any content, software,
    products or services available on Third Party Websites. COMPANY's inclusion of links to Third Party Websites does not imply endorsement, warranty,
    guarantee or recommendation of them, or of the content, property, products or services of the sponsoring organization thereof.
</p>
<p>
    i) COMPANY is a data aggregator of content supplied by third parties and users and assumes no obligation to exercise editorial control over the opinions,
    advice, statements, services, offers or other content provided by third parties, including by users. Nevertheless, COMPANY reserves the right to screen,
    review, edit or remove content if it does not comply with laws, rules, regulations, or these Terms and Conditions, or for any other reason COMPANY deems
    relevant in its sole discretion.
</p>
<p>
    ii) Descriptions of property, products or services for sale by other users or third parties, and other information appearing on the Website or on Third
    Party Websites have not been verified by COMPANY, and are not intended to be and are not binding on COMPANY. All prices and terms are subject to change
    without notice.
</p>
<p>
    iii) You acknowledge and agree that Your purchase and/or use of any property, product or service in connection with the Website shall be subject to the
    terms of a separate agreement between You and the applicable provider and that COMPANY has no liability to You in relation to Your dealings with, or the
    acts or omissions of, that party.
</p>
<p>
    iv) COMPANY may receive payment from third parties for its property, products, services and referrals on and through the Website. A subscription with
    COMPANY and use of the property, products and/or services offered by COMPANY constitutes Your agreement to this compensation arrangement.
</p>
<p>
    C. Partial List of Risks
</p>
<p>
    Since COMPANY is not a party to Your transactions with others on the Website or using the products and services of the Company, COMPANY has no fiduciary,
    agency or other due diligence or disclosure obligation to or for You. However, You should consider that, among other things, products and/or services
    listed on or provided though the Website;
</p>
<p>
    i) may not have been subject to due diligence;
</p>
<p>
    ii) may not have insurance;
</p>
<p>
    iii) may not match the indicated specifications;
</p>
<p>
    iv) may have latent defects;
</p>
<p>
    v) may have been produced, handled, or shipped in contravention to applicable law;
</p>
<p>
    vi) may not be sold or be otherwise exploitable by You;
</p>
<p>
    vii) might be sold by a third party that has financial distress or other legal problems; and/or
</p>
<p>
    viii) may be subject to third party rights.
</p>
<p>
    D. No Advice
</p>
<p>
    The information available to You on or through this Website is not a substitute for the services of trained professionals in any pertinent field. In
    particular, You should regularly consult a qualified attorney and/or other expert in all matters relating to import, export, licensing and manufacturing of
    the property, products or services You order, including but not limited to laws and requirements related to taxes, pricing (including but not limited to
    price fixing and other anti-trust matters) and intellectual property. COMPANY makes no representations or warranties to any person concerning any
    information, product, service or property provided on or through this Website).
</p>
<p>
    <a id="DisclaimersOfLiability"><br><br><br><br></a>
    <h2 style="color: #f05f40">III. Disclaimers of Liability; No Representations or Warranties</h2>
</p>
<p>
    COMPANY does not make any representation, warranty or guarantee regarding the accuracy of content posted or transmitted via the Website, the products and
    services provided by COMPANY, the products and services listed by others on or through the Website, or data loss (including but limited to whether such may
    occur or not). COMPANY advises You independently to verify all such information and offerings. COMPANY does not buy or sell, or represent any buyer or
    seller of, products and/or services on the Website (or using the software and other materials provided by the Company), and disclaims any and all liability
    for the sale or attempted sale of products and services on and through the Website or using the software and other materials provided by the Company.
    COMPANY makes no guarantee, whether express or implied, that You will find products or services that meet Your specifications. In addition, COMPANY may
    make changes and improvements to the Website and the products and services provided by the Company at any time. COMPANY makes no representation or warranty
    as to the quality or qualification of any products or services of sellers, buyers, service provider, or any third party appearing on or through the Website
    or using the software and other materials provided by the Company, and is not responsible or liable for any acts or omissions committed such third parties.
</p>
<p>
    You further acknowledge and agree that:
</p>
<p>
    i) COMPANY won't pre-screen content provided by any user and, as such, COMPANY does not guarantee the accuracy, integrity, or quality of such content;
</p>
<p>
    ii) You will evaluate, and bear all risks associated with, the use by You or third parties of any content on or provided through the Website (or using the
    software and other materials provided by the Company), including any reliance on the accuracy, completeness, or usefulness of such user provided content;
</p>
<p>
    iii) You may be exposed to content that is indecent, offensive, or otherwise objectionable and that COMPANY shall not be liable for such; and
</p>
<p>
    iv) COMPANY will not be liable in any way for any user provided content, including, but not limited to, any errors or omissions in any content You
    provided, or for any loss or damages or any kind incurred as a result of the use of any user provided content by You or any third part.
</p>
<p>
    <strong>
        THE WEBSITE, ITS CONTENT, THE PRODUCTS AND SERVICES OF THE COMPANY AND OTHERS, INCLUDING BUT NOT LIMITED TO THAT LISTED ON THE WEBSITE, ARE PROVIDED
        "AS IS" AND "AS AVAILABLE".
    </strong>
    <strong>
        COMPANY DISCLAIMS ANY REPRESENTATION OR WARRANTY OF ANY KIND, WHETHER EXPRESS OR IMPLIED, AS TO ANY MATTER WHATEVER RELATING TO THE WEBSITE, ITS
        CONTENT, THE PRODUCTS AND/OR SERVICES OF COMPANY, AND THE PRODUCTS AND SERVICES AND PROPERTY OF OTHERS, INCLUDING WITHOUT LIMITATION THE IMPLIED
        WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NONINFRINGEMENT. COMPANY MAKES NO GUARANTEE THAT THE CONTENT OF THE WEBSITE
        IS UP-TO-DATE, ACCURATE OR COMPLETE, AND YOU SHOULD NOT RELY ON OR ASSUME ITS ACCURACY FOR ANY DECISION OR TO TAKE ANY ACTION. COMPANY HEREBY DISCLAIMS
        ANY REPRESENTATION OR WARRANTY THAT LOSS OF YOUR DATA WILL NOT OCCUR. COMPANY HEREBY DISCLAIMS ANY WARRANTY THAT THE WEBSITE, ITS CONTENT, THE PRODUCTS
        AND SERVICES OF COMPANY, OR THE PRODUCTS, SERVICES AND PROPERTY OF OTHERS WILL BE FREE OF INTERRUPTION OR DEFECTS, OR THAT THE WEBSITE IS FREE OF
        VIRUSES, WORMS, TROJAN HORSES OR OTHER CODE THAT HAS CONTAMINATING OR DESTRUCTIVE PROPERTIES.
    </strong>
</p>
<p>
    <strong>
        BY YOUR USE OF THE WEBSITE, ITS CONTENT, OR THE PRODUCTS OR SERVICES OF COMPANY, YOU AGREE AND ACKNOWLEDGE THAT YOUR USE OF SUCH IS AT YOUR OWN RISK.
        NEITHER COMPANY NOR ITS AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, MANAGERS, SHAREHOLDERS, ATTORNEYS OR OTHER REPRESENTATIVES OR ASSOCIATES ARE LIABLE FOR
        ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OR OTHER INJURY ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE WEBSITE,
        ITS CONTENT OR THE USE OF THE PRODUCTS OR SERVICES OF COMPANY, OR WITH DELAY OR INABILITY TO USE THE WEBSITE (INCLUDING BUT NOT LIMITED TO ANY LOSS OF
        DATA), WHETHER ARISING FROM CONTRACT, TORT, STRICT LIABILITY OR ANY OTHER THEORY AND REGARDLESS OF WHETHER OR NOT YOU KNOW, SUSPECT OR HAVE BEEN
        ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES.
    </strong>
</p>
<p>
    If You are a California resident or otherwise have a presence in California, You waive California Civil Code &sect; 1542, which says "A general release does not
    extend to claims which the creditor does not know or suspect to exist in his or her favor at the time of executing the release, which if not known to him
    or her must have materially affected his or her settlement with the debtor."
</p>
<p>
    <strong>
        TO THE EXTENT THAT ANY LIMITATION OF LIABILITY SET FORTH IN THIS SECTION IS UNENFORCEABLE UNDER APPLICABLE LAW, IN NO EVENT SHALL COMPANY, ITS
        AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, SHAREHOLDERS, AGENTS OR OTHER REPRESENTATIVES BE LIABLE FOR: (A) THE GREATER OF LOSSES OR DAMAGES IN EXCESS
        OF THE AMOUNT OF SUBSCRIPTION OR OTHER FEES ACTUALLY PAID BY YOU WITHIN THE TWELVE MONTHS PRIOR TO THE CLAIM OR THE MINIMUM AMOUNT REQUIRED UNDER
        APPLICABLE LAW; OR (B) ANY INDIRECT, SPECIAL, EXEMPLARY, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL LOSSES OR DAMAGES.
    </strong>
</p>
<p>
    <a id="PurchaseTerms"><br><br><br><br></a>
    <h2 style="color: #f05f40">IV. Purchase Terms.</h2>
</p>
<p>
    The fee for the purchase of a QR Code is indicated at the time of your purchase, and you are agreeing to pay such fee and authorizing payment by the method
    you selected when you hit the "submit" or "Pay" button or similarly labeled button. You have 10 days after your purchase to indicate if the QR Code is
    malfunctioning by emailing the COMPANY at <a style="color: #f05f40" href="mailto:support@acme.codes">support@acme.codes</a>, and in the COMPANY's discretion, it will provide a
    replacement QR Code or a refund of the applicable payment received from you. If you do not indicate any malfunction to the COMPANY in the aforementioned 10
    days, you hereby waive any right to claim any problem with such QR Code or the related purchase.
</p>
<p>
    <a id="Termination"><br><br><br><br></a>
    <h2 style="color: #f05f40">V. Termination of Subscriptions and Accounts.</h2>
</p>
<p>
    COMPANY reserves the right to terminate Your use of the Website, except that arising from a current unterminated prepaid subscription, for any reason at
    any time, without notice.
</p>
<p>
    If You are holder of an Account and wish to deactivate or terminate Your account, contact COMPANY and indicate such by:
</p>
<p>
    i) e-mailing a termination request to <a style="color: #f05f40" href="mailto:support@acme.codes">support@acme.codes</a>.</p>
<p>
    
    <a> </a>
</p>
<p>
    On termination, Your ability to use the Website will end i) for an account other than a prepaid subscription Account, upon termination without requirement
    of notice, and ii) for a prepaid subscription Account, upon expiration of the term of the subscription for which You have paid the applicable subscription
    fee.
</p>
    <a id="Conduct"><br><br><br><br></a>
    <h2 style="color: #f05f40">VI. Your Conduct Requirements; Your Grant of License.</h2>
<p>
    You agree to comply with:
</p>
<p>
    a) these Terms and Conditions, and all other rules as may be issued by COMPANY from time to time and communicated to You for the use of this Website;
</p>
<p>
    b) the requirement that You use and communicate with others through the Website in good faith;
</p>
<p>
    c) all applicable laws, rules and regulations;
</p>
<p>
    d) the requirement that You shall not violate the rights of any third party; and
</p>
<p>
    e) the requirement that any information You submit shall be accurate and not misleading.
</p>
<p>
    The contents of this Website are protected by copyright and trademark laws, and are the property of their respective owners. Unless COMPANY says otherwise,
    You may access the materials located within the Website only for Your use and the use of Your employer. This means You may only use posted materials for
    the purpose for which the information or material was made available to You by its owner or the conditions such owner indicates to You as to such
    information and material, so long as You neither change nor delete any author attribution, trademark, legend or copyright notice. When You download
    copyrighted material, You do not obtain any ownership rights in that material.
</p>
<p>
    You shall not disassemble, decompile, manipulate or reverse engineer the Website, and shall take all necessary steps to prevent such activity. Under no
    circumstances shall You sell, license, publish, display, copy, modify, transmit, distribute, or exploit the Website (or the content therein), or otherwise
    make available the Website (or any products, services or property provided herein) in any form or by any means, including without limitation the transfer
    to a third party, except as expressly permitted in this Agreement
    <a>
        . Only if You obtain proper written consent from all other entities with an interest in the relevant intellectual property may You publish, display or
        commercially exploit any material from the Website. </a>You will take all reasonable steps to protect the security of the Website, and to prevent unauthorized use or disclosure thereof. You are responsible for
    all access to and use of the Website by means of Your equipment or under Your user ID and password, whether or not You have knowledge of or authorized such
    access or use. You shall be responsible for maintaining the confidentiality of all assigned user IDs and passwords, and You shall be responsible for all
    charges relating to the use of such user IDs and passwords, whether or not authorized by You.
</p>
<p>
    If there is a breach of the confidentiality of a password or user account ID assigned to a holder of an account, or any breach of security through such
    user's account, such user has an obligation to and shall notify COMPANY immediately via the same methods set forth above for the termination of an account.
</p>
<p>
    <br>
    You must abide by all additional copyright notices or other restrictions on the Website.
</p>
<p>
    You agree not to do any of the following while using the Website, in relation to another user of the Website, or to or perpetrate against COMPANY:
</p>
<p>
    i) harass, stalk or otherwise abuse another user of the Website;
</p>
<p>
    ii) transmit or otherwise make available any content that is false, harmful, threatening, abusive, tortious, defamatory, libelous, disparaging (including
    disparaging of the Website), vulgar, obscene, pornographic or that promotes violence, racial hatred, terrorism or illegal acts, or is otherwise
    objectionable (as determined by COMPANY in our sole discretion);
</p>
<p>
    iii) transmit or otherwise make available any content that is unlawful or infringes, violates or misappropriates any patent, trademark, trade identity
    right, trade secret, publicity right, privacy right, copyright or any other intellectual property or any other rights of any third party;
</p>
<p>
    iv) upload or transmit viruses, Trojan horses or other harmful, disruptive or destructive files or post material that interferes with any third party's
    uninterrupted use and enjoyment of the Website.
</p>
<p>
    v) impersonate any person or entity, or otherwise disguise the origin of any content transmitted through the Website or to COMPANY, including forging any
    TCP/IP packet header or any part of the header information in any transmission to the Website for any reason;
</p>
<p>
    vi) transmit or otherwise make available through the Website any personal advertising, junk mail, spam, chain letters, pyramid schemes or offer for sale of
    any property, products or services, except in areas specifically designated for such purposes;
</p>
<p>
    vii) violate any applicable local, state, federal or international law, rule or regulation;
</p>
<p>
    viii) become involved in any type of attack on the Website or the Services;
</p>
<p>
    ix) attempt to gain unauthorized access to the Website, the Services or Accounts (including but not limited to Brand Accounts or Buyer Accounts) of others;
</p>
<p>
    x) utilize any type of malicious software such as bots, spiders, viruses or other codes on or in conjunction with the Website or the Services;
</p>
<p>
    xi) create derivative works of the Website or the proceeds of any of the Services;
</p>
<p>
    xii) copy, frame or mirror any part of content of the Website without the written consent of COMPANY;
</p>
<p>
    xiii) access or utilize the Website or Services in order to build a competing product or service;
</p>
<p>
    xiv) attempt to reverse engineer any component or other aspect of the Website or Services; or
</p>
<p>
    xv) sell, resell, lease, loan, gift, provide, or the functional equivalent of any of the foregoing, access to or use of the Website or Services to a third
    party.
</p>
<p>
    If You make any post or submission to the Website, then:
</p>
<p>
    xvi) You remain owner of such post or submission to the extent You were the owner;
</p>
<p>
    xvii) You automatically grant on behalf of Yourself or otherwise warrant that the owner of such content has expressly granted COMPANY, for use on the
    Website and for the provisioning of the Services, a royalty-free, perpetual, irrevocable, world-wide nonexclusive license to use, reproduce, create
    derivative works from, modify, publish, edit, translate, distribute, perform, display, and/or otherwise exploit, the content in any media, or any form,
    format, or forum now known or hereafter developed;
</p>
<p>
    xviii) You acknowledge and agree that You are solely responsible and liable for the content of any images, product detail, product information, messaging,
    order content, buyer information, questions, data and feedback to submit to COMPANY or the Website; and
</p>
<p>
    xix) You agree and warrant that COMPANY may sublicense or assign its rights through multiple tiers of sublicenses or assigns.
</p>
<p>
    COMPANY has the right, but not the obligation, to remove any information provided by You which it has a good faith belief is incorrect, misleading, or in
    violation of law.
</p>
<p>
    You acknowledge and agree that COMPANY may and will have access to all information placed on the Website and that this access maybe used for maintenance
    and upgrades to the Website, data collation subject to these Terms and Conditions (including the Privacy Policy as incorporated herein), and for analytics
    and reporting subject to these Terms and Conditions (including the Privacy Policy as incorporated herein).
</p>
<p>
    <strong> </strong>
</p>
<p>
    <a id="Copyrights"><br><br><br><br></a>
    <h2 style="color: #f05f40">VII. Copyrights; Trademark; Ownership of the Website.</h2>
</p>
<p>
    All content included on this Website, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software,
    is the property of COMPANY or its content suppliers (including the Buyers and Sellers, as applicable) and protected by United States and international
    copyright laws. The compilation of all content on this Website is the exclusive property of COMPANY and protected by U.S. and international copyright laws.
</p>
<p>
    COMPANY name and other COMPANY logos, page headers, button icons, scripts, and service names are trademarks, registered trademarks or trade dress of
    COMPANY or its affiliates in the U.S. and/or other countries. COMPANY's trademarks and trade dress may not be used in connection with any product or
    service that is not that of the COMPANY, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits
    COMPANY. All other trademarks not owned by COMPANY or its affiliates that appear on this Website are the property of their respective owners, who may or
    may not be connected to or sponsored by COMPANY or its affiliates.
</p>
<p>
    The Website is and shall remain the sole and exclusive property of COMPANY. You shall have only the limited rights with respect to the Website as expressly
    granted in this Agreement, and all rights not expressly granted herein are reserved by COMPANY. You acknowledge and agree that only COMPANY shall have the
    right to alter, maintain, enhance or otherwise modify the Website, or its products or services.
</p>
<p>
    COMPANY reserves the right to modify or to discontinue the Website and any products or services provided by COMPANY hereunder, with or without notice to
    You. COMPANY shall not be liable to You in the event that COMPANY exercises its rights under this Section.
</p>
<p>
    <a id="Indemnification"><br><br><br><br></a>
    <h2 style="color: #f05f40">VIII. Indemnification.</h2>
</p>
<p>
    <strong>
        YOU AGREE THAT YOU WILL INDEMNIFY, DEFEND AND HOLD THE COMPANY AND THE COMPANY'S PARENTS, AFFILIATES, SUBSIDIARIES, RELATED ENTITIES, OFFICERS,
        DIRECTORS, EMPLOYEES, CONTRACTORS AND CUSTOMERS (COLLECTIVELY, "INDEMNIFIED PARTIES") HARMLESS FROM AND AGAINST ANY AND ALL LIABILITIES, DAMAGES, COSTS
        AND EXPENSES, INCLUDING ATTORNEY'S FEES (COLLECTIVELY, "<u>LOSSES"</u>), INCURRED BY THE COMPANY AND THE INDEMNIFIED PARTIES AS A RESULT OF OR ARISING
        FROM (A) ANY ACTUAL OR ALLEGED INFRINGEMENT OR VIOLATION OF ANY THIRD PARTY INTELLECTUAL PROPERTY, INTELLECTUAL PROPERTY RIGHTS, OR OTHER RIGHTS BY
        YOU; (B) THE FAILURE OR ALLEGED FAILURE OR DEFECT OF ANY PRODUCTS, PROPERTY OR SERVICES PROVIDED OR OFFERED BY YOU (INCLUDING BUT NOT LIMITED TO THEIR
        FAILURE TO COMPLY WITH THEIR SPECIFICATIONS OR WITH ANY EXPRESS OR IMPLIED WARRANTIES); (C) THE VIOLATION OR ALLEGED VIOLATION OF ANY LAW, STATUTE OR
        GOVERNMENTAL ORDINANCE DUE OR RELATED TO YOU; (D) ANY ACTUAL OR ALLEGED UNFAIR BUSINESS PRACTICES, FALSE ADVERTISING, MISREPRESENTATION OR FRAUD
        ENGAGED IN BY YOU; (E) ANY ACTUAL OR ALLEGED PERSONAL INJURY OR PROPERTY DAMAGE ARISING FROM OR RELATING TO YOUR CONDUCT; (G) ANY ACTUAL OR ALLEGED
        BREACH BY YOU OF ANY AGREEMENT OR OBLIGATION YOU HAVE WITH ANY THIRD PARTY, INCLUDING BUT NOT LIMITED TO ANY OTHER USER OF THE WEBSITE; (H) ANY ACT OR OMISSION BY YOU WITH REGARD TO ANY THIRD PARTY, INCLUDING BUT NOT LIMITED TO THE ACTUAL OR ALLEGED COMMISSION OF ANY TORTS; AND (I) ANY BREACH OR
        ALLEGED BREACH OF YOUR REPRESENTATIONS OR WARRANTIES OR ANY PROVISION OF THIS AGREEMENT BY YOU. THIS SECTION WILL NOT BE CONSTRUED TO LIMIT OR EXCLUDE
        ANY OTHER CLAIMS OR REMEDIES THAT THE COMPANY OR ITS RESPECTIVE AFFILIATES, SUCCESSORS AND ASSIGNS (AND ITS AND THEIR RESPECTIVE DIRECTORS, EMPLOYEES
        AND AGENTS) MAY ASSERT.
    </strong>
</p>
<p>
    <strong> </strong>
</p>
<h2 style="color: #f05f40">
    <br><br><br><br>IX. (Intentionally Removed)
</h2>
<p>
    <strong> </strong>
</p>
<p>
    <a id="Copyright"><br><br><br><br></a>
    <h2 style="color: #f05f40">X. Digital Millennium Copyright Act; Procedure For Making Claims Of Copyright Infringement.</h2>
</p>
<p>
    It is the policy of COMPANY to respond to notices of alleged infringement that comply with the Digital Millennium Copyright Act. If You believe that Your
    copyrighted work has been copied and is accessible on the Website in a way that constitutes copyright infringement, You may notify COMPANY by providing our
    copyright agent with the following information in a "DMCA Notice":
</p>
<p>
    i) the electronic or physical signature of the owner of the copyright or the person authorized to act on the owner's behalf;
</p>
<p>
    ii) a description of the copyrighted work that You claim has been infringed and a description of the infringing activity;
</p>
<p>
    iii) identification of the location where the original or an authorized copy of the copyrighted work exists, for example the URL of the Website where it is
    posted or the name of the book in which it has been published;
</p>
<p>
    iv) identification of the URL or other specific location on the where the material that You claim is infringing is located (You must include enough
    information to allow COMPANY to locate the material);
</p>
<p>
    v) Your name, address, telephone number, and email address;
</p>
<p>
    vi) a statement by You that You have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
</p>
<p>
    vii) a sworn statement by You, made under penalty of perjury, that the above information in Your DMCA Notice is accurate and that You are the copyright
    owner or are authorized to act on the copyright owner's behalf.
</p>
<p>
    Our agent for DMCA notice of claims of copyright infringement on the Website can be reached as follows:
</p>
<p>
    <strong>By postal mail:</strong>
</p>
<p>
    Animated Codes Made Easy LLC
    <br>
    Attn: Legal Support, DMCA Complaints
    <br>
    433 Allen Avenue<br>Glendale CA 91201
</p>
<p>
    <strong>By email:</strong>
</p>
<p>
    <a>support@acme.codes</a><br><br>Please place "Legal Support, DMCA" in the Subject Header.
</p>
<p>
    Please note that You may be liable for damages (including attorneys' fees and other costs) if You materially misrepresent a claim that content is
    infringing upon Your copyright. Therefore, if You are not sure if material available online infringes Your copyright (it may be protected under exceptions
    to the copyright law, like fair use), COMPANY suggests that You contact legal counsel before submitting any claim.
</p>
<p>
    Please note that a copy of each legal notice and claim (without Your personal information) could be sent to a third-party for publication and annotation.
</p>
<p>
    This contact information is only for reporting copyright infringement.
</p>
<p>
    <a id="Feedback"><br><br><br><br></a>
    <h2 style="color: #f05f40">XI. Misc.; Feedback to the COMPANY; Binding Arbitration; Disputes.</h2>
</p>
<p>
    i) <u>Minimum Age 18 Requirement</u>: COMPANY hereby requires all users of COMPANY's Website or its products and services to be over 18. You agree to abide
    by any such restrictions, and not to help anyone avoid these restrictions. If You are under 18, You agree not to subscribe to or otherwise purchase or use
    any of the property, products or services of COMPANY. If You are purchasing any of the property, products or services of COMPANY, You represent that You
    are at least 18 years of age.
</p>
<p>
    ii) <u>Governing Law;</u> <u>Binding Arbitration; Disputes</u>: You agree that any claim or controversy arising out of or relating to the use of the
    Website, its content, or the property, products or services of COMPANY, or to any acts or omissions for which You may contend COMPANY or its employees,
    agents, affiliates, officers or directors are liable, including but not limited to any claim or controversy ("Dispute"), shall be finally and exclusively
    settled by arbitration in Los Angeles, California, and that said arbitration shall be governed by California law. Such arbitration shall be held before one
    arbitrator under the commercial arbitration rules of the American Arbitration Association ("AAA") in force at that time. The arbitrator shall be selected
    pursuant to the AAA rules. To begin the arbitration process, a party must make a written demand therefore. Any judgment upon the award rendered by the
    arbitrator may be entered only in a state or federal court located in Los Angeles, California, and You agree to submit to the jurisdiction of such court
    for that purpose. You and COMPANY agree that the arbitrator shall have limited authority to award damages such that the arbitrator shall not have the power
    to award damages in excess of those permitted under this Agreement and in no event more than actual compensatory damages. The agreement to arbitrate shall
    not be construed as an agreement or consolidation of arbitration between You and COMPANY under this Section with arbitration of disputes or claims of any
    other party, regardless of the nature of the issues or disputes involved.
</p>
<p>
    <strong>
        YOU AGREE THAT ALL DISPUTES BETWEEN YOU AND THE COMPANY WILL BE RESOLVED BY BINDING ARBITRATION IN LOS ANGELES, CALIFORNIA. THUS, YOU GIVE UP YOUR
        RIGHT TO GO TO COURT TO ASSERT OR DEFEND YOUR RIGHTS. YOU ALSO GIVE UP YOUR RIGHT TO PARTICIPATE IN OR BRING CLASS ACTIONS AND TO SERVE AS A PRIVATE
        ATTORNEY GENERAL OR IN ANY OTHER REPRESENTATIVE CAPACITY IN CONNECTION WITH A DISPUTE. YOUR RIGHTS WILL BE DETERMINED BY A NEUTRAL ARBITRATOR AND NOT A
        JUDGE OR JURY. YOU AND COMPANY RETAIN THE RIGHT TO PURSUE INJUNCTIVE RELIEF IN COURT, AND AGREE TO SUBMIT EXCLUSIVELY TO THE JURISDICTION OF THE STATE
        OR FEDERAL COURTS LOCATED IN LOS ANGELS, CALIFORNIA, FOR THAT PURPOSE.
    </strong>
</p>
<p>
    You also acknowledge and understand that, with respect to any Dispute, in the event COMPANY incurs attorney fees or expenses in connection with the
    collection of sums owed to COMPANY by You under this Agreement, COMPANY shall be entitled to recovery of those fees and expenses from You.
</p>
<p>
    iii) <u>Severability</u>: If any provision contained in this agreement is or becomes invalid, illegal, or unenforceable in whole or in part, such
    invalidity, illegality, or unenforceability shall not affect the remaining provisions and portions of this agreement, and the invalid, illegal, or
    unenforceable provision shall be deemed modified so as to have the most similar result that is valid and enforceable under applicable California law.
</p>
<p>
    iv) <u>Waiver</u>: The failure of either party to require performance by the other party of any provision of this agreement shall not affect in any way the
    first party's right to require such performance at any time thereafter. Any waiver by either party of a breach of any provision in this agreement shall not
    be taken or held by the other party to be a continuing waiver of that provision unless such waiver is made in writing.
</p>
<p>
    v) <u>Feedback to COMPANY</u>:
</p>
<p>
    You agreed and acknowledge that all suggestions, comments, ideas, and improvements You offer to COMPANY regarding the Website or any of COMPANY's Services
    are "works made for hire" for the benefit of COMPANY and You assign all right, title and interest in such to COMPANY. You waive all "moral rights"
    including "droit moral".
</p>
<p>
    vi) <u>Entire Agreement</u>: This Agreement, alternately referred to as the "Terms and Conditions", together with Brand Subscription Agreements and
    anything specifically incorporated by reference, is the complete and exclusive agreement between COMPANY and You with regard to the purchase, subscription
    or use of this Website to which this Agreement is associated. This Agreement supersedes all prior or contemporaneous proposals, oral or written,
    understandings, representations, conditions, warranties, and all other communications between COMPANY and You relating to the subject property, products
    and services. This agreement may not be explained or supplemented by any prior course of dealings or trade by custom or usage. In the event of a conflict
    between the terms of an Brand Subscription Agreement and these Terms and Conditions, these Terms and Conditions shall control unless the Brand Subscription
    Agreement references the particular conflicting term and indicates it shall prevail over the terms of this Agreement.
</p>
</div>    
</div>    
</div>    
</div>    

