/*-----GENERAL-------*/

body {
    font-family: verdana,'Helvetica Neue',Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 200;
}

p {
    font-family: verdana, Helvetica-neue;
    font-size: 1.7rem;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}


hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #333;
}


/*-----LINKS-------*/

a {
    text-decoration: none;
    color: #fff;
}



a:hover, a:focus {
    color: #fff;
    text-decoration: none;
}

.text-muted a {
    color: #f05f40;
    font-size: 20px;
}

.text-muted a:hover {
    text-decoration: underline;
}

.service-box p {
    margin-bottom: 2px;
    font-size: 1.7rem;
}

.service-box p a {
    margin-bottom: 2px;
    font-size: 1.7rem;
}

.service-box {
    margin-bottom: 35px;
}

.orangelink {
    color: #f05f40;
}

.orangelink:hover {
    text-decoration: underline;
    color: #f05f40;
}


#acme-codes-title a:hover, #acme-codes-title a:focus {
    color: #fff;
    text-decoration: none;
    
}


/*-----HEADER-------*/


#main-header .company-title{
    position: absolute;
    left: 35px;
    top: 2px;

    font-size: 13px;
    color: rgba(231, 227, 227, 0.7);
    text-transform: uppercase;
}


#main-header.scroll-down .company-title {
    position: absolute;
    left: 35px;
    top: 2px;

    font-size: 13px;
    color: rgba(0, 0, 0, 0.3) ;
    text-transform: uppercase;
/*
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
*/
    
}



#main-header #acme-codes-title {
    position: absolute;
    top: 35px;
    left: 35px;

    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-shadow: 0px 0.8px #777;

    color: rgba(255,255,255,0.7);

    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
#main-header.scroll-down #acme-codes-title a {
    font-size: 19px;
    color: #333;
    text-shadow: none;
    -webkit-transition: all .60s;
    -moz-transition: all .60s;
    transition: all .60s;
}
.text-primary {
    color: #f05f40;
}
.form-msg {
  font-size: 17px;
  color: orange;
}
#terms-link, #terms-link:hover, #terms-link:visited {
  color: orange;
}
#terms-conditions-container {
  font-size: 17px;
}

/*-----NAVBAR-------*/

.navbar-inverse .navbar-nav > li > a{
    background-color: transparent;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 900;
    padding-right: 10px;

    color: rgba(255,255,255,0.8);

    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;

}
.navbar-inverse .navbar-nav > li > a:hover{
    color: #fff;
    text-decoration: underline;
}

.navbar-inverse.scroll-down .navbar-nav > li > a{
    color: #f05f40;
}

.navbar-inverse.scroll-down .navbar-nav > li > a:focus
.navbar-inverse.scroll-down .navbar-nav > li > a:hover{
    color: #f05f40;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
    border: 2px solid white; 
    border-radius: 3px;
}


#main-header.navbar-inverse {
    background-color: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.5);
    
}
#main-header.navbar-inverse.scroll-down {
    background-color: #fff;
    border-bottom: none;
    
}

@media (max-width: 768px) {
    #main-header.navbar-inverse {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }
    #main-header.navbar-inverse.scroll-down {
        background-color: #fff;
        border-bottom: 2px solid #fff;
        -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    }
    #main-header #acme-codes-title a {
        color: #f05f40;
    }
    #main-header .company-title {
        color: rgba(0, 0, 0, 0.4);
    }
    
    .nav {
        margin-top: 7px;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #f05f40;
        text-align: center;
    }
    #main-header #acme-codes-title {
        text-shadow: none;
    }
    .navbar-inverse .navbar-nav > li > a:hover{
    color: rgba(240, 95, 64, 0.8);
    text-decoration: underline;
}
    
    
}

.navbar {
    min-height: 80px;
}
.navbar-right {
    margin-right: 10px !important;
    margin-left: 5px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
     border: none;
     padding-top: 20px;
}

.navbar-inverse .navbar-toggle {
    border: 2px solid #333 ;
    
}

.navbar-inverse .navbar-toggle:hover{
    border-color: #444;
    box-shadow: 0px 1px 2px #666;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.navbar-inverse.scroll-down .navbar-toggle {
    border-color: #222;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.navbar-inverse.scroll-down .navbar-toggle:hover {
    box-shadow: 0px 1px 2px #666;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-inverse.scroll-down .navbar-toggle .icon-bar {
    background-color: #222;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 22px;
    margin-right: 38px;
    color: transparent;
}








/*-----BUTTON-------*/


.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    width: 60%;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
/*    height: 50px;*/
    line-height: 1px;
    
}

.section-six #updates-facebook {
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
    line-height:39px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}

.section-six #updates-facebook:hover {
    background-color: #fff;
/*
    color: #fff;
    box-shadow: inset 0 0px 0px 2px #f05f40;
*/
}

.text-break {
    white-space: normal;
}






.btn-primary {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    max-width: 115px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #f05f40;
/*
    border-color: #ed431f;
    color: #333;
    box-shadow: inset 0 0px 0px 2px #f05f40;
*/
}
.btn-xl {
    padding: 15px 30px;
}


/*-----SECTIONS-------*/


.section-one {
    position: relative;
    text-align: center;
    width: 100%;
    background-image: url('/modules/core/client/img/headernew.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 132px;
    height: 100%;
    min-height: 675px;
}
.section-one #dive-in {
    margin-top: 82px;
}
.section-two {
    background-color: #f05f40;
    width: 100%;
    text-align: center;
    padding: 75px;
    color: white;
}
.section-two UL {
    list-style-type: none;
}

.section-two HR {
    max-width: 50px;
    list-style-type: none;
}
.section-three {
    background-color: #FFF;
    width: 100%;
    padding: 25px;
    letter-spacing: 1px;
}
.section-four {
    background-color: blue;
    width: 100%;
}

/*-----PORTFOLIO-------*/


.portfolio-box {
    display: block;
    position: relative;
    /*margin: 0 auto;*/
    /*max-width: 650px;*/
}

.portfolio-image {
  width: 100%;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.section-five {
    background-color: #fff;
    width: 100%;
    padding: 80px;
}

#sociallinks p {
      margin-bottom: -3px;
}


/*-----MORE SECTIONS-------*/


.section-six {
    background-color: #222;
    height: 230px;
    width: 100%;
    
}
.section-six #start-leading-way {
    font-size: 32px;
    font-weight: 200;
    letter-spacing: 2px;
    color: white;
    margin-top: 40px;
}


.section-seven {
    background-color: #fff;
    height: 480px;
    width: 100%;
    padding-top: 70px;
}



.section-seven .section-heading {
    font-weight: 200;
}
.section-seven #ready-start {
    margin-left: 65px;
    margin-right: 65px;
    font-weight: 200;
}
.section-seven #patents-pending {
    margin-top: 50px;
    margin-bottom: 25px;
}

.section-seven .email {
    color: #f05f40;
}
.section-eight {
    background-color: #fff;
    height: 425px;
    width: 100%;
}
.loader {
    max-height: 50px;
}

/*-----FAQ-------*/

.faq-bg {
  text-align: center;
  width: 100%;
  background-color: rgb(22, 91, 120);
  padding: 75px;
  padding-top: 10%;
  height: auto;
}



    
